/* Menu Filters */
.menu-filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.filter-btn {
  padding: 8px 20px;
  border: 2px solid var(--primary-red);
  background: transparent;
  color: var(--primary-red);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.filter-btn.active {
  background: var(--primary-red);
  color: white;
}

/* Menu Grid */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.menu-item {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-img-container {
  position: relative;
  height: 200px;
}

.menu-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #333;
  animation: transitionBackground 1.5s ;
}

.price-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--accent-yellow);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.menu-info {
  padding: 20px;
}

.menu-info h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.menu-info p {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.4;
}

.btn-add {
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-add:hover {
  background: var(--primary-red);
  color: white;
  border-color: var(--primary-red);
}

@keyframes transitionBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
