* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff8f5;
  color: #333;
  padding: 20px;
}

h1,
h2 {
  color: #c62828;
}

.yellow {
  color: #f9a825;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}
