h1 {
  text-align: center;
}

main {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

image {
  width: 100%;
  background-color: #333;
  animation: transitionBackground 1.5s infinite;
}

@keyframes transitionBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
