* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #027e29;
  --secondary-color: #fff;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.header-line {
  height: 10px;
  background: linear-gradient(135deg, #027e29 0%, #ffffff 50%, #027e29 100%);
}

.data {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.weather-widget .head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.weather-widget .head img {
    width: 80px;
    height: 80px;
}

.data,
.weather-widget {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.body p {
  color: #333;
  font-weight: 600;
}

.body span {
  font-weight: 400;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1.5rem;
}

footer p {
  margin: 0;
}
