@media screen and (min-width: 640px) {
  #menu {
    display: none;
  }
  nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: unset !important;
    width: 100%;
  }
  ul {
    display: flex !important;
    gap: 3rem;
    position: unset !important;
    width: unset !important;
  }

  li a {
    text-decoration: none;
  }

  li a,
  span {
    color: white;
  }

  nav a {
    padding: 0 !important;
  }

  li a:hover {
    border-bottom: 2px solid var(--accent-color2);
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
